// -----------------------
// Colors
// -----------------------

$sandy:             #f2d36d;
$maize:             #f2b35f;
$tealish:           #2dbaab;
$dark-slate-blue:   #182d54;
$steel:             #7d859e;
$gunmetal:          #474b59;
$white:             #ffffff;

$red:     #dc3545;
$yellow:  #ffc107;
$green:   #28a745;
$cyan:    #17a2b8;

// -----------------------
// Color Applications
// -----------------------

// backgrounds...
$bg-body:           $white;
$bg-container:      $white;

// fonts...
$text-base:        $gunmetal;

// -----------------------
// Animations
// -----------------------
$animation_curve: cubic-bezier(0.165, 0.84, 0.44, 1); // http://easings.net/#easeOutQuart
$animation_curve_ease_in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$animation_duration: 300ms;
