html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "system-ui";
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gunmetal;
  font-size: 14px;
  line-height: 1.4;
}
 
.container-fluid {
  padding-left: 32px;
  padding-right: 32px;

  // limit content width on desktop to mimic iPad page width layout
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
}
