.icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon-edit:before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f304";
}