// Modals

.modal-task-description {
  font-size: 15px;  
  font-weight: 400;
}

// #rateTaskModal

#rateTaskModal.modal {
  .task-rating {
    text-align: center;

    .card-text {
      font-size: 14px;
      font-weight: 400;
    }

    .card-footer {
      padding: 0;
      position: relative;
    }

    .rating-indicator {
      width: 100%;
      height: 60px;
      margin: 0;
      display: block;

      span {
        @include a11yhidden;
      }
    }

    .rating-radio {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);

      &:checked {
        + .rating-indicator-low {
          background-color: $green;
        }

        + .rating-indicator-medium {
          background-color: $yellow;
        }

        + .rating-indicator-high {
          background-color: $red;
        }
      }
      
    }
  }

  .opportunity-categories {
    margin: 30px 0;
  }

}
