// common
.app-header,
.app-footer {
  background-color: rgba($steel, 0.2);
}

.app-header-actions,
.app-footer-actions {
  display: flex;
  justify-content: space-between;
}

.header-action,
.footer-action {
  width: calc(100% / 3);
  font-weight: 500;

  a {
    color: $gunmetal;
  }
}

.action-left {
  text-align: left;
}

.action-center {
  text-align: center;
}

.action-right {
  text-align: right;
}

// app header
.app-header {
  font-size: 17px;
  height: 64px;
  border-bottom: 1px solid rgba($steel, 0.5);
  padding: 30px 0 0;
  margin-bottom: 50px;

  .action-center {
    font-weight: 600;
  }
}

// app footer
.app-footer {
  font-size: 14px;
  height: 50px;
  border-top: 1px solid rgba($steel, 0.5);
  padding: 15px 0;
  margin-top: 50px;
}