// Dashboard page layout

// layout
.visit-section {
  margin-top: 60px;

  &:first-of-type {
    padding-top: 20px; 
  }

  .dashboard-day {
    margin-bottom: 20px;
  }
  
  .card-footer {
    margin-top: 20px;
  }
  // text
  .dashboard-date {
    font-size: 16px;
  }
  
  .dashboard-day {
    font-size: 48px;
    color: $dark-slate-blue;
  }
  
  .owner-name {
    font-size: 28px;
  }

  .directions {
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
  }
  
  .visit-labels {
    margin-bottom: 30px;
  }

  .visit-label {
    font-size: 14px;
    padding: 3px 15px;
    margin-right: 5px;
    border: 1px solid $white;
    border-radius: 15px;
    height: 30px;
    background-color: $sandy;
  }
  
  .contact-name {
    font-size: 16px;
  }
  
  .visit-time {
    font-size: 14px;
    text-transform: uppercase;
  }
}

.visit-section-tomorrow .visit-card {
  margin-bottom: 30px;
}