
// visit intro
.visit-intro {
  text-align: center;
}

.visit-details {
  font-size: 14px;

  span {
    display: inline-block;
  }

  .visit-date {
    position: relative;
    padding-left: 20px;
    margin-right: 5px;

    &:before {
      content: "\2022";
      position: absolute;
      left: 5px;
    }
  }
}

// ---------------------
// Progress bar

.task-progress {
  margin-top: 50px;

  .progress {
    height: 3px;
  }

  .progress-labels {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: $steel;
  }
}

// ---------------------
// Tasks lists
.tasks-section {
  margin-top: 30px;
}

.tasks-subheading {
  color: $steel;
}

.tasks-subsection .message {
  font-size: 16px;
  font-weight: 400;
  color: $steel;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-list {
  margin-top: 20px;
  border: 1px solid rgba($steel, 0.5);
  border-radius: 3px;
  padding: 0;

  .task {
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    padding: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($steel, 0.5);
    }

    .edit-task-button {
      padding: 15px 30px;
      width: 100%;
      text-align: left;
      color: $tealish;
      background-color: transparent;
      background-repeat:no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      position: relative;
    }

    .icon-rate:before {
      font-size: 25px;
    }

    .task-label {
      display: inline-block;
      margin-left: 15px;
      vertical-align: text-bottom;
    }

    // states
    &.-untouched,
    &.-unchecked {
      background-color: $white;

      .icon-rate:before {
        color: rgba($gunmetal, 0.1);
      } 

      .icon-edit:before {
        display: none;
      }
    }

    &.-checked {
      background-color: rgba($steel, 0.1);

      .edit-task-button {
        color: $steel;
      }

      .icon-edit:before {
        position: absolute;
        right: 30px;
        color: rgba($gunmetal, 0.5);
      }

      &.-rate-low .icon-rate:before {
        color: $green;
      }

      &.-rate-medium .icon-rate:before {
        color: $yellow;
      }
      &.-rate-high .icon-rate:before {
        color: $red;
      }
    }
  }
}

// Opportunities section

.opportunities-section {
  margin-top: 30px;

  .card {
    margin-bottom: 30px;

    &:first-of-type {
      margin-top: 30px; // TODO: figure out why this is not working but last-of-type does
    }
  }
}

.opportunity {
  position: relative;

  .opportunity-description {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 70px 5px 0;
    margin-bottom: 0;
  }

  .edit-opportunity {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate3d(0,-50%,0);
  }
} 

// buttons section
.page-buttons {
  margin-top: 30px;
}

// action links
.action-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: $steel;
  padding-left: 25px;
  margin: 20px 0;
  display: inline-block;
  position: relative;

  &:before {
    content: "+";
    font-size: 25px;
    font-weight: 300;
    width: 20px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0,-50%,0);
  }

  &:hover {
    text-decoration: none;
    color: $gunmetal;

    &:before {
      color: $steel;
    }
  }
}

// system message
.default-message {
  font-size: 14px;
  font-weight: 300;
}