// sizes
h1 {
  font-size: 48px;
  color: $dark-slate-blue;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

// spacing

h1 {
  margin: 0 0 15px;
}

h2 {
  margin: 20px 0 30px;
}

h3 {
  margin: 30px 0 10px;
}